* {
  padding: 0;
  margin: 0;
}
body {
  background: linear-gradient(-150deg, rgb(39, 118, 93), rgb(43, 23, 27));
  background-repeat: no-repeat;
  display: grid;
}
header {
  background: linear-gradient(-150deg, rgb(39, 118, 93), rgb(43, 23, 27));
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
h1 {
  height: 20vmin;
  color: white;
  font-size: 8vmin;
   display: flex;
  justify-content: center;
  align-items: center; 
}
main {
  padding-top: 20vmin;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.div_1 {
  aspect-ratio: 16/9; /* The Trick: Use aspect-ratio to match your image dimensions */
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%; /* Forces the image to stretch to the exact edges */
  background-image: url("Images/Image_1.png");
  overflow: hidden;
}
.message {
  font-weight: bold;
  font-size: 10vmin;
  margin-left: 6vmin;
  margin-top: 3vmin;
  color: rgb(11, 47, 11);
}
.heading {
  height: 10vh;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vmin;
  color: black;
  font-weight: bold;
  font-size: 20vmin;
}
.about h2 {
  background-color: white;
  height: 5vmax;
   width: 35%;
  margin: 4vmin auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border-radius: 3vmin;
  font-size: 3vmax;
}
.about_paragraph {
  color: white;
  font-size: 2vmax;
  padding:0px 2vmax;
}
footer {
  background-color: rgb(72, 70, 70);
  color: white;
}
footer p {
  padding: 3vmin;
}

@media (min-width: 670px) {
  .message {
    font-size: 10vmax;
  }
}
